<div *ngIf="searchedProduct">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Filter by:</span>
    </div>
    <input type="text" [(ngModel)]='listFilter' class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ProductId</th>
          <th scope="col">Name</th>
          <th scope="col">Product number</th>
          <th scope="col">Color</th>
          <th scope="col">Subcategory</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{product.productId}}</td>
          <td>{{product.name}}</td>
          <td>{{product.productNumber}}</td>
          <td>{{product.color}}</td>
          <td>{{product.subcategory}}</td>
          <td>{{product.category}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>